*{
    margin: 0 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
}

:root {
    --floral-white: #fbfbf2ff;
    --blue-green: #4298b5ff;
    --dark-purple: #361134ff;
    --ruby-red: #a31621ff;
    --amaranth: #e40046ff;
    
}

/* font-family: 'Oswald', sans-serif;
font-family: 'Source Sans Pro', sans-serif; */